@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
    }
    a {
        @apply text-sky-700 hover:text-sky-600 dark:text-sky-400 dark:hover:text-sky-500
    }

    select {
        @apply px-2 py-1 my-4 rounded m-1 dark:bg-slate-700 dark:text-slate-100
    }

    input {
        @apply my-3
    }

    input[type="text"] {
        @apply dark:bg-slate-900 dark:text-slate-300 outline dark:outline-slate-500 outline-1 rounded p-1
    }

    input:focus, button:focus {
        @apply outline-1 outline-blue-500
    }

    .submit-button {
        @apply px-2 py-1 my-2 rounded text-white 
        bg-sky-600 
        hover:bg-sky-700 
        dark:bg-sky-600/80
        disabled:bg-gray-100 disabled:text-gray-400 disabled:cursor-not-allowed
    }

    body {
        @apply dark:bg-slate-900 dark:text-slate-200
    }

    hr{
        @apply border-solid border-slate-100 dark:border-slate-800
    }

    hr:last-of-type,
    hr:first-of-type {
        @apply border-none
    }
}




